<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function hey1(){
            $.ajax({
                type: "GET",
                url: "/test?title_give=봄날은간다",
                data: {},
                success: function (response) {
                    console.log(response)
                }
            })
        }


        function hey2(){
            $.ajax({
                type: "POST",
                url: "/test",
                data: {title_give: '봄날은간다'},
                success: function (response) {
                    // console.log(response)
                    console.log(response['msg'])
                }
            })
        }

    </script>
</head>
<body>

    <h1>나의 첫 웹페이지</h1>
    <button onclick="hey2()">버튼을 만들자</button>

</body>
</html>